<div style="
    background-color: #ffddc1; 
    color: #333; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);">
    🧠 Project Euler: Crack math and programming problems! 🔢<br>
    <a href="https://projecteuler.net/" style="color: #333; text-decoration: underline; font-size: 18px;">Discover now</a>
</div>

# Project Euler: Problem 022: Names Scores
<a href="https://projecteuler.net/problem=22">Task definition</a>

"Using <a href="https://projecteuler.net/resources/documents/0022_names.txt">names.txt</a> (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth $3 + 15 + 12 + 9 + 14 = 53$, is the $938$ th name in the list. So, COLIN would obtain a score of $938 \times 53 = 49714$.

What is the total of all the name scores in the file?"

##### Import library

In [1]:
import pandas as pd

##### Open file, split names and remove quotes

In [2]:
with open("files/0022_names.txt") as f:
    content = f.read()

names = [name.strip('"') for name in content.split(',')]

df = pd.DataFrame({'names': names})

df

          names
0          MARY
1      PATRICIA
2         LINDA
3       BARBARA
4     ELIZABETH
...         ...
5158      ELDEN
5159     DORSEY
5160     DARELL
5161  BRODERICK
5162     ALONSO

[5163 rows x 1 columns]

##### Check DataFrame for `NaN`, range of index and type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5163 entries, 0 to 5162
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   5163 non-null   object
dtypes: object(1)
memory usage: 40.5+ KB

##### Get a overview of how many names have which length

##### Sort list and set DataFrame to 1-based positions

##### Create a dictonary with upper case letters and their values

##### Get all unique letters from all names

##### Creat a function to calculate each names value

##### Test the function by using `COLIN`

##### Get the range for all indexs

##### Create a function to calculate all scores

##### Calc total score

<div style="text-align: center;">
  <a href="https://de.wikipedia.org/wiki/Leonhard_Euler">
    <img src="images/Leonhard_Euler.jpg" alt="Leonhard Euler" style="width:300px; height:400px;">
  </a>
</div>

<div style="
    background-color: #ffe4b5; 
    color: #333; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);">
    🔗  Connect with me:  
    <br><br>
    📌 <a href="https://www.linkedin.com/in/jan-eric-keller" target="_blank" style="color: #0077b5; text-decoration: none; font-weight: bold;">LinkedIn</a>  
    <br>
    📊 <a href="https://www.kaggle.com/whatthedatahastotell" target="_blank" style="color: #20beff; text-decoration: none; font-weight: bold;">Kaggle</a>  
    <br>
    🎥 <a href="https://www.youtube.com/@ehemAushilfskassierer" target="_blank" style="color: #ff0000; text-decoration: none; font-weight: bold;">YouTube</a>  
    <br>
    📸 <a href="https://www.instagram.com/ehem.aushilfskassierer/" target="_blank" style="color: #e1306c; text-decoration: none; font-weight: bold;">Instagram</a>  
    <br>
    🎵 <a href="https://www.tiktok.com/@ehem.aushilfskassierer" target="_blank" style="color: #000000; text-decoration: none; font-weight: bold;">TikTok</a>  
    <br><br>
    🚀 If you found this helpful, leave an <span style="color: #ff5b33;">⭐ upvote</span>!  
    <br>
    💬 Let me know in the comments what you liked or what could be improved!  
</div>