<div style="
    background-color: #ffddc1; 
    color: #333; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 24px; 
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);">
    🧠 Project Euler: Crack math and programming problems! 🔢<br>
    <a href="https://projecteuler.net/" style="color: #333; text-decoration: underline; font-size: 18px;">Discover now</a>
</div>

# Project Euler: Problem 022: Names Scores
<a href="https://projecteuler.net/problem=22">Task definition</a>

"Using <a href="https://projecteuler.net/resources/documents/0022_names.txt">names.txt</a> (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth $3 + 15 + 12 + 9 + 14 = 53$, is the $938$ th name in the list. So, COLIN would obtain a score of $938 \times 53 = 49714$.

What is the total of all the name scores in the file?"

##### Import library

In [ ]:
import pandas as pd

##### Open file, split names and remove quotes

In [ ]:
with open("files/0022_names.txt") as f:
    content = f.read()

names = [name.strip('"') for name in content.split(',')]

df = pd.DataFrame({'names': names})

df

##### Check DataFrame for `NaN`, range of index and type

In [ ]:
df.info()

##### Get a overview of how many names have which length

In [ ]:
names_lengths = df.names.str.len()
names_lengths.value_counts()

##### Sort list and set DataFrame to 1-based positions

In [ ]:
sorted_df = df.sort_values(
                    by='names',
                    key=lambda x: x.str.upper()
                            ).reset_index(drop=True)

# 1-based positions
sorted_df.index = sorted_df.index + 1

# Start with index 1. "COLIN" will be on index 938
sorted_df

In [ ]:
sorted_df.names[938] # COLIN

##### Create a dictonary with upper case letters and their values

In [ ]:
alphabet_values = {chr(i + 64): i for i in range(1, 27)}
# Use 96 for lower and 64 for upper case
alphabet_values

##### Get all unique letters from all names

In [ ]:
# Join all names into a single string
all_chars = "".join(sorted_df['names'])

# Get unique characters
unique_chars = sorted(set(all_chars))

print(unique_chars)

##### Creat a function to calculate each names value

In [ ]:
def calcNameValue(name: str, mapper: dict[str, int]) -> int:
    """
    Calculate the sum of letter values in a name.

    Parameters:
        name (str): The name whose value will
                    be calculated.
        mapper (dict[str, int]): Dictionary
                mapping letters to their numeric values.

    Returns:
        int: The total value of the name.
    """
    if not isinstance(name, str):
        raise TypeError("name must be a string")
    if not isinstance(mapper, dict):
        raise TypeError("mapper must be a dictionary")

    resultPerName = 0

    # handle lowercase letters too
    for ch in name.upper():
        if ch in mapper:
            resultPerName += mapper[ch]
        else:
            print("Char was not found in mapper.\n" \
            "Check if the mapping upper"\
                "and lower case works.")

    return resultPerName

##### Test the function by using `COLIN`

In [ ]:
calcNameValue(sorted_df['names'][938], alphabet_values)

##### Get the range for all indexs

In [ ]:
sorted_df.index

##### Create a function to calculate all scores

In [ ]:
def calcTableValues(table: pd.DataFrame, bCalc: bool = False) -> int:
    """
    Calculate the total score for all names in a DataFrame.
    Each name's score = (its index) * (its name value).

    Parameters:
        table (pd.DataFrame): DataFrame containing a column 'names'.
        bCalc (bool): When True, prints each name's calculation details.

    Returns:
        int: The total score of all names.
    """
    if not isinstance(table, pd.DataFrame):
        raise TypeError(
            "table must be a pandas DataFrame")

    if 'names' not in table.columns:
        raise ValueError(
            "DataFrame must have a 'names' column")

    if not table['names'].apply(lambda x: isinstance(x, str)).all():
        raise ValueError(
            "All entries in 'names' column must"+
            " be strings")

    # Create alphabet mapping (A=1, B=2, ..., Z=26)
    alphabetValues = {chr(i + 64): i for i in range(1, 27)}

    total_score = 0

    for i in table.index:
        try:
            name = table.loc[i, 'names'].upper()
            name_value = calcNameValue(name, alphabetValues)
            name_score = i * name_value
            total_score += name_score

            if bCalc:
                print(f"{i:4d}: "+
                      "{name:<20} value ={name_value:3d}"+
                      " --> score= {i:4d} x {name_value:3d}"+
                      " = {name_score}")

        except Exception as e:
            print(f"Skipping index {i} due to error: {e}")

    return total_score

##### Calc total score

In [ ]:
calcTableValues(sorted_df)

<div style="text-align: center;">
  <a href="https://de.wikipedia.org/wiki/Leonhard_Euler">
    <img src="images/Leonhard_Euler.jpg" alt="Leonhard Euler" style="width:300px; height:400px;">
  </a>
</div>

<div style="
    background-color: #ffe4b5; 
    color: #333; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);">
    🔗  Connect with me:  
    <br><br>
    📌 <a href="https://www.linkedin.com/in/jan-eric-keller" target="_blank" style="color: #0077b5; text-decoration: none; font-weight: bold;">LinkedIn</a>  
    <br>
    📊 <a href="https://www.kaggle.com/whatthedatahastotell" target="_blank" style="color: #20beff; text-decoration: none; font-weight: bold;">Kaggle</a>  
    <br>
    🎥 <a href="https://www.youtube.com/@ehemAushilfskassierer" target="_blank" style="color: #ff0000; text-decoration: none; font-weight: bold;">YouTube</a>  
    <br>
    📸 <a href="https://www.instagram.com/ehem.aushilfskassierer/" target="_blank" style="color: #e1306c; text-decoration: none; font-weight: bold;">Instagram</a>  
    <br>
    🎵 <a href="https://www.tiktok.com/@ehem.aushilfskassierer" target="_blank" style="color: #000000; text-decoration: none; font-weight: bold;">TikTok</a>  
    <br><br>
    🚀 If you found this helpful, leave an <span style="color: #ff5b33;">⭐ upvote</span>!  
    <br>
    💬 Let me know in the comments what you liked or what could be improved!  
</div>